<mat-card noSelect class="rickdex-character-card">
  <img mat-card-image class="rickdex-character-card-image" [src]="character.image" lazy="loading" [alt]="'Photo of a ' + character.name" />

  <mat-card-header class="rickdex-character-card-header">
    <mat-card-title class="rickdex-character-card-header-title">
      <a class="rickdex-character-card-header-title-text" (click)="onClickTitle(character.url)">{{ character.name }}</a>
    </mat-card-title>
    <mat-card-subtitle class="rickdex-character-card-header-subtitle">
      <mat-icon class="icon-small" [ngStyle]="getCharacterStatusStyle(character.status)" fontIcon="circle" />
      {{ character.status }} -
      {{ character.species }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="rickdex-character-card-content">
    <p class="rickdex-character-card-content-paragraph">
      <span class="rickdex-character-card-content-paragraph-title">Last known location:</span>
      <a class="rickdex-character-card-content-paragraph-text" (click)="onClickLastKnownLocation(character.location.url)">{{ character.location.name }}</a>
    </p>

    <p class="rickdex-character-card-content-paragraph">
      <span class="rickdex-character-card-content-paragraph-title"> First seen in: </span>
      <a class="rickdex-character-card-content-paragraph-text" (click)="onClickFirstSeen(character.episode[0].id)">
        {{ character.episode[0].name }} ({{ character.episode[0].episode }})
      </a>
    </p>
  </mat-card-content>
</mat-card>
