:host {
  display: flex;
  justify-content: center;

  .rickdex-characters-list {
    width: 90vw;
    background-color: #353639;
    margin-top: 2vh;
    padding-top: 2vh;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .rickdex-characters-list-items {
    margin: 0 1rem 1rem 0;
  }
}
