:host {
  padding: 1%;

  .rickdex-scrollable {
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rickdex-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    gap: 24px;
    // width: 86%;

    rickdex-card-character {
      // width: 15%;
    }
  }
}
