{
  "printWidth": 150,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "src/**/*.html",
      "options": {
        "printWidth": 175
      }
    }
  ]
}
