<mat-card noSelect class="rickdex-detail-episode-card">
  <mat-card-header class="rickdex-detail-episode-card-header">
    <mat-card-title class="rickdex-detail-episode-card-header-title">
      <span class="rickdex-detail-episode-card-header-title-text" (click)="navigateToDetailEpisode(episode.url)">{{ episode.episode }}: {{ episode.name }}</span>
    </mat-card-title>
    <mat-card-subtitle class="rickdex-detail-episode-card-header-subtitle">
      {{ episode.air_date }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="rickdex-detail-episode-card-content" *ngIf="loadCharacters">
    <mat-divider />

    <h2 style="color: whitesmoke; margin-top: 1.25rem">Character seen in this episode:</h2>

    <div class="rickdex-detail-episode-card-content-characters">
      <rickdex-card-character *ngFor="let character of characters; trackBy: trackByCharacter" [character]="character" />
    </div>
  </mat-card-content>
</mat-card>
