:host {
  .rickdex-character-card {
    background-color: #3c3e44;
    max-width: 300px;
    border-radius: 2% 2% auto auto;

    &-image {
      width: 300px;
      height: 300px;
      border-radius: 2% 2% 4% 4%;
    }

    &-header {
      &-title {
        color: #ffffff;
        font-weight: bold;
        font-size: 1.25rem;

        &-text {
          color: inherit;
          cursor: pointer;
          text-decoration: none;
        }

        &-text:hover {
          color: #b03dc4;
        }
      }
    }

    &-content {
      padding-top: 20px;

      &-paragraph {
        color: #bababa;
        display: flex;
        flex-direction: column;
        &-text {
          color: inherit;
          text-decoration: none;
          cursor: pointer;
        }

        &-text:hover {
          color: #6ff1b1;
        }
      }
    }
  }

  .icon-small {
    width: 0.75rem;
    height: 0.75rem;
    font-size: 0.75rem;
    padding-right: 3px;
  }
}
