:host {
  .rickdex-container {
    height: 100vh;
    // overflow: hidden;
  }

  .rickdex-toolbar {
    height: 7vh;

    .example-spacer {
      flex: 1 1 auto;
    }
  }

  .rickdex-drawer {
    height: 93vh;
  }
}
