<div class="rickdex-list-episodes">
  <div class="rickdex-list-episodes-title">
    <h1>Season {{ currentSeason }}</h1>
  </div>
  <mat-divider />
  <div class="rickdex-list-episodes-content">
    <div class="rickdex-list-episodes-items">
      <rickdex-card-episode *ngFor="let episode of episodes" [episode]="episode" />
    </div>
  </div>
  <mat-divider />
  <div class="rickdex-list-episodes-actions">
    <button mat-mini-fab color="primary" *ngIf="currentSeason != 1" (click)="loadEpisodes((currentSeason = currentSeason - 1))">
      <mat-icon fontIcon="navigate_before" />
    </button>
    <button mat-mini-fab color="primary" *ngIf="currentSeason < 5" (click)="loadEpisodes((currentSeason = currentSeason + 1))"><mat-icon fontIcon="navigate_next" /></button>
  </div>
</div>
